// Mixin для установки фонового изображения
// $image - путь к изображению
// $size (необязательный параметр) - размер фонового изображения, по умолчанию 'cover'
@mixin background($image, $size: 'cover') {
	background: url($image) no-repeat center; // Устанавливаем фоновое изображение без повторения и центрируем
	background-size: $size; // Определяем размер фонового изображения
}

// Mixin для установки маски (mask-image)
// $image - путь к изображению для маски
// $size (необязательный параметр) - размер маски, по умолчанию 'cover'
@mixin mask($image, $size: cover) {
	mask-image: url($image); // Устанавливаем изображение в качестве маски
	mask-repeat: no-repeat; // Запрещаем повторение маски
	mask-position: center; // Центрируем маску
	mask-size: $size; // Определяем размер маски
}
